<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="/assets/img/logo.png" class="auth-logo">
  <span>DESAFÍO TECNICO BANCO RIPLEY - Mini banco CAF</span>
  <span style="flex: 1"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon (click)="logout()" >power_settings_new</mat-icon>
  </button>
</mat-toolbar>
<div class="dynamic-content-wrapper">
  <router-outlet></router-outlet>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/', 'pages', 'history']">Historia de Transacciones</button>
  <button mat-menu-item [routerLink]="['/', 'pages', 'withdraw']">Retiro de Saldo</button>
  <button mat-menu-item [routerLink]="['/', 'pages', 'deposit']">Carga de Saldo</button>
  <button mat-menu-item [routerLink]="['/', 'pages', 'transfer']">Transferir</button>
</mat-menu>
