<mat-card class="loginWrap">
  <h1>Ingresa a tu cuenta</h1>
  <form [formGroup]="loginFormGroup">
    <mat-form-field appearance="fill">
      <mat-label>Rut</mat-label>
      <input #username matInput formControlName="username" type="text" (input)="checkRut(username)" onkeypress="return event.charCode == 107 || (event.charCode >= 48 && event.charCode <= 57)">
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
  </form>
  <br>
  <button mat-raised-button [disabled]="loginInProgress" (click)="login()" class="loginBtnMain">Iniciar Sesión</button>
  <br>
  <br>
  <button mat-flat-button [routerLink]="['/','auth','register']" class="loginBtn">Registrar una Cuenta</button>

</mat-card>