<mat-card class="withdraw-wrapper">
    <h1>Retiro de Saldo</h1>
    <br>
    Tu saldo actual es:
    <br>
    Luego del movimiento quedarás con:
    <br>
    <form [formGroup]="withdrawFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Cantidad a Retirar</mat-label>
        <input matInput formControlName="ammount" type="number">     
      </mat-form-field>
      <br>    
    </form>
    <br>
    <button mat-raised-button  (click)="withdraw()" class="withdrawBtn">Retirar Saldo</button>
  </mat-card>