/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
     margin: 0; 
     font-family: "Montserrat Regular", sans-serif !important;
     }

     .mat-form-field-appearance-fill .mat-form-field-flex{
          background-color: #FFFFFF;
     }
  
     .BtnMain{
          width: 100%;
          color:#FFFFFF;
          background-color: #894590;
        } 



        mat-form-field {
          width: 80%;
          padding-left: 10%;
          padding-right: 10%;
        }
//::ng-deep 